{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--This line has a hard-coded url, which can make it challenging to always update-->
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->

        <!--The 'name' value is looked up in polls.urls w/ {% url %} template tag-->
        <!--path("<int:question_id>/", views.detail, name="detail"),-->
        <!--<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>-->

        <!--Changed template to point at the namespaced (polls) detail view-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}